@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif; /* Fonte moderna e limpa */
}

body {
  background-color: #fafafa; /* Fundo clean */
  color: #333; /* Cor de texto para boa legibilidade */
  font-size: 16px; /* Tamanho de fonte base */
  line-height: 1.6;
}

img {
  width: 100px;
  height: 100px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1); /* Sombra suave */
  border-radius: 8px; /* Bordas arredondadas para um look moderno */
}

#app {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.full-page-loader {
  position: absolute;
  width: 100%;
  height: 100vh;
  background-color: #d1e8e2;
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: center;
}

.full-page-loader .lds-dual-ring {
  display: inline-block;
  width: 80px;
  height: 80px;
}

.full-page-loader .lds-dual-ring:after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid #b0bec5;
  border-color: #b0bec5 transparent #b0bec5 transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}

@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Estilo de Formulários */
input:not([type="checkbox"]), textarea {
  border-color: #e0e0e0;
  background-color: #ffffff;
  color: #555;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  padding: 12px 20px;
  border-radius: 8px;
  margin: 10px 0;
  border-width: 1px;
  border-style: solid;
  min-width: 100px;
  width: 100%;
  transition: all 0.3s ease;
}

input:focus, textarea:focus {
  border-color: #1e88e5;
  outline: none;
}

textarea {
  height: 200px;
  padding-top: 10px;
}

.add-form {
  margin-top: 40px;
}

.form-control {
  margin: 20px 0;
}

.form-control label {
  display: block;
  margin-bottom: 8px;
  color: #666;
  font-size: 14px;
  font-weight: 500;
}

/* Checkbox */
.form-control-check {
  display: flex;
  align-items: center;
}

.form-control-check label {
  flex: 1;
}

.form-control-check input {
  flex: 2;
  height: 20px;
}

/* Botões */
.btn {
  display: inline-block;
  color: #fff;
  border: none;
  padding: 12px 24px;
  margin: 10px;
  border-radius: 30px;
  cursor: pointer;
  font-size: 14px;
  font-weight: 500;
  background-color: #1e88e5;
  transition: background-color 0.3s ease, transform 0.2s ease, box-shadow 0.3s ease;
}

.btn:hover {
  background-color: #1976d2;
  transform: scale(1.05);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
}

.btn:active {
  transform: scale(0.98);
}

.btn-block {
  display: block;
  width: 100%;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: auto;
  background-color: #ffffff;
  padding: 40px;
  padding-top: 60px;
  border-radius: 12px;
  position: relative;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
}

@media (max-width: 768px) {
  .container {
    padding: 40px 20px;
  }
}

.container h1 {
  margin-bottom: 30px;
  font-size: 2rem;
  font-weight: 600;
  color: #333;
}

.container .header-btns {
  position: absolute;
  top: 0;
  right: 20px;
}

.container a.active button.btn,
.container .btn.active {
  background-color: #00796b;
  color: #fff;
}

.container .books-container {
  margin-top: 50px;
}

/* Estilo de Tabela */
table {
  border-spacing: 0;
  border-collapse: collapse;
  width: 100%;
  margin-bottom: 30px;
  background-color: #ffffff;
}

table th,
table td {
  border-bottom: 1px solid #e0e0e0;
  padding: 15px;
  text-align: left;
  color: #333;
  font-weight: 500;
}

table tr:hover {
  background-color: #f1f1f1;
}

table tr:first-child th,
table tr:first-child td {
  border-top: 2px solid #1e88e5;
}

table tr td:first-child,
table tr th:first-child {
  border-left: 1px solid #e0e0e0;
}

table tr td:last-child,
table tr th:last-child {
  border-right: 1px solid #e0e0e0;
}

@media (max-width: 768px) {
  .books-list {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 576px) {
  .books-list {
    grid-template-columns: 1fr;
  }
}

/* Página de Login */
.login-page {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-page h1, p {
  text-align: center;
}

.login-page .login-type {
  text-align: center;
}

.login-page .add-form.login {
  width: 100%;
  max-width: 400px;
}

.login-page .add-form .error {
  text-align: center;
  color: red;
  margin-top: 8px;
}

.login-page p.forgot-password {
  margin-top: 12px;
  color: #1e88e5;
  text-decoration: underline;
  font-size: 14px;
  cursor: pointer;
}

.login-page.container button.btn.selected {
  background: #0288d1;
  color: #fff;
}

.login-page.container button.btn.login {
  background: #0288d1;
  color: #fff;
}

/* Cabeçalho Moderno */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.user-info {
  display: flex;
  align-items: right;
}

.user-details {
  display: flex;
  align-items: right;
  margin-right: 10px;
  font-size: 14px;
}

.floating-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 60px;
  height: 60px;
  background-color: #1e88e5;
  color: white;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  text-decoration: none;
  z-index: 1000;
  cursor: pointer;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.floating-button:hover {
  background-color: #1565c0;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}
