@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@1,400;1,500&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Lora", serif;
}

body {
  background-color: #f3f4f6; /* Fundo mais suave e claro */
  color: #455a64; /* Cor de texto otimizada para leitura */
  font-size: 16px; /* Tamanho de fonte base */
  line-height: 1.6;
}

img {
  width: 100px;
  height: 100px;
  box-shadow: 0px 4px 11px 0px rgba(0, 0, 0, 0.1); /* Sombra suave */
}

#app {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.full-page-loader {
  position: absolute;
  width: 100%;
  height: 100vh;
  background-color: #e0f7fa; /* Cor suave */
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: center;
}

.full-page-loader .lds-dual-ring {
  display: inline-block;
  width: 80px;
  height: 80px;
}

.full-page-loader .lds-dual-ring:after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid #b0bec5;
  border-color: #b0bec5 transparent #b0bec5 transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}

@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Estilos de formulário */
input:not([type="checkbox"]), textarea {
  border-color: #cfd8dc;
  background-color: #eceff1;
  color: #455a64;
  font-size: 16px;
  line-height: 22px;
  font-weight: normal;
  padding: 0 20px;
  height: 50px;
  max-width: 100%;
  border-radius: 25px;
  margin: 20px 0 0;
  border-width: 1px;
  border-style: solid;
  width: 100%;
  transition: all 0.3s ease;
}

input:focus, textarea:focus {
  border-color: #607d8b;
  outline: none;
}

textarea {
  height: 200px;
  padding-top: 10px;
}

/* Adicionando transições suaves */
.add-form {
  margin-top: 40px;
}

.form-control {
  margin: 20px 0;
}

.form-control label {
  display: block;
  color: #607d8b;
  font-size: 14px;
  font-weight: 500;
}

/* Checkboxes */
.form-control-check {
  display: flex;
  align-items: center;
}

.form-control-check label {
  flex: 1;
}

.form-control-check input {
  flex: 2;
  height: 20px;
}

input[type="checkbox"] {
  margin-right: 20px;
}

/* Botões */
.btn {
  display: inline-block;
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  margin: 5px;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  font-size: 14px;
  background-color: #ff7043; /* Laranja suave */
  transition: all 0.3s ease;
}

.btn:hover {
  background-color: #ff5722; /* Laranja mais intenso */
}

.btn:active {
  transform: scale(0.98);
}

.btn:focus {
  outline: none;
}

.btn-block {
  display: block;
  width: 100%;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: auto;
  padding: 30px;
  padding-top: 60px;
  background-color: #ffecb3; /* Amarelo suave */
  border-radius: 5px;
  box-shadow: 0px 4px 11px 0px rgba(0, 0, 0, 0.1);
  position: relative;
}

@media (max-width: 768px) {
  .container {
    padding: 60px 30px;
  }
}

.container h1 {
  margin-bottom: 20px;
}

.container .header-btns {
  position: absolute;
  top: 0;
  right: 10px;
}

.container a.active button.btn,
.container .btn.active {
  background: #00796b; /* Verde suave */
}

.container button.btn.transparent {
  background-color: transparent;
  text-decoration: underline;
}

.container .header-btns button.btn {
  border-radius: 0 0 15px 15px;
}

.container .books-container {
  margin-top: 50px;
}

/* Estilo de Tabela */
table {
  border-spacing: 0;
  border-collapse: collapse;
  width: 100%;
  background-color: #fff9c4; /* Amarelo claro */
}

table th,
table td {
  padding: 15px 30px;
  text-align: left;
  font-weight: 500;
  color: #333;
}

table tr:nth-child(odd) {
  background-color: #f9fbe7; /* Tabela com listras alternadas */
}

table tr:hover {
  background-color: #f1f1f1; /* Destaque suave na linha */
}

table tr:first-child td,
table tr:first-child th {
  border-top: 1px solid #ff7043;
}

table tr td:first-child,
table tr th:first-child {
  border-left: 1px solid #cfd8dc;
}

table tr td:last-child,
table tr th:last-child {
  border-right: 1px solid #cfd8dc;
}

@media (max-width: 768px) {
  .books-list {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 576px) {
  .books-list {
    grid-template-columns: 1fr;
  }
}

/* Página de login */
.login-page {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-page h1, p {
  text-align: center;
}

.login-page p {
  margin-bottom: 24px;
}

.login-page .add-form.login {
  width: 600px;
  max-width: 100%;
}

.login-page .add-form .error {
  text-align: center;
  color: red;
  margin-top: 8px;
}

.login-page p.forgot-password {
  margin-top: 12px;
  color: #0000EE;
  text-decoration: underline;
  font-size: 14px;
  cursor: pointer;
}

.login-page.container button.btn.selected {
  background: #0288d1; /* Azul suave */
  color: #fff;
}

.login-page.container button.btn.login {
  background: #0288d1; /* Azul suave */
  color: #fff;
}

/* Cabeçalho Moderno */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.user-info {
  display: flex;
  align-items: center;
}

.user-details {
  display: flex;
  align-items: center;
  margin-right: 10px;
  font-size: 14px;
  color: #607d8b;
}

/* Botão flutuante */
.floating-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 60px;
  height: 60px;
  background-color: #00796b; /* Verde escuro */
  color: white;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.floating-button:hover {
  background-color: #004d40; /* Verde mais escuro */
}
